[submodule "lib/base_utility_cpp"]
	path = lib/base_utility_cpp
	url = https://github.com/Modeling-Coding-Automation-Project/base_utility_cpp.git
[submodule "lib/python_control_to_cpp"]
	path = lib/python_control_to_cpp
	url = https://github.com/Modeling-Coding-Automation-Project/python_control_to_cpp.git
[submodule "lib/python_math_to_cpp"]
	path = lib/python_math_to_cpp
	url = https://github.com/Modeling-Coding-Automation-Project/python_math_to_cpp.git
[submodule "lib/python_mpc_to_cpp"]
	path = lib/python_mpc_to_cpp
	url = https://github.com/Modeling-Coding-Automation-Project/python_mpc_to_cpp.git
[submodule "lib/python_numpy_to_cpp"]
	path = lib/python_numpy_to_cpp
	url = https://github.com/Modeling-Coding-Automation-Project/python_numpy_to_cpp.git
[submodule "lib/python_optimization_to_cpp"]
	path = lib/python_optimization_to_cpp
	url = https://github.com/Modeling-Coding-Automation-Project/python_optimization_to_cpp.git
